/* Fonts */
@font-face {
  src: url(../src/fonts/Poppins/Poppins-Thin.ttf);
  font-family: pop;
}

@font-face {
  src: url(../src/fonts/Amatic_SC/AmaticSC-Regular.ttf);
  font-family: amatic;
}

@font-face {
  src: url(../src/fonts/Montserrat/Montserrat-ThinItalic.ttf);
  font-family: mont;
}

@font-face {
  src: url(../src/fonts/Montserrat/Montserrat-LightItalic.ttf);
  font-family: mont-main;
}

// Funtions
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flexBox($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// Loading Page
.container.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

a {
  text-decoration: none;
  @include flexCenter(row);
}

a.top {
  color: black;
}

// Style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: pop, sans-serif;
}

// Button Style
.btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #141111;
  padding: 12px 25px;
  border-radius: 5px;
  display: inline-block;
  border: 1px white solid;
  transition: all 0.4s ease 0s;
  margin: 0 10px;
  &:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
    border: none;
  }
}

// All sections
body {
  section#home,
  section#products {
    min-height: 100vh;
    padding: 20px 30px;
  }
}

// Home Section
#home {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 30%;
  color: white;
  .box-2 {
    @include flexBox(flex-end, center, column);
    img {
      width: 550px;
      pointer-events: none;
    }
    h1 {
      font-size: 4rem;
      letter-spacing: 5px;
    }
  }
  .box-4 {
    @include flexBox(flex-start, center, column);
    margin-top: 50px;
    h3 {
      font-size: 30px;
      color: rgb(160, 157, 157);
      text-align: center;
    }
    .btns {
      margin-top: 20px;
      @include flexCenter(row);
    }
  }
}

#discount {
  @include flexCenter(row);
  height: auto;
  padding: 50px 20px;
  background-color: #ffefda;
  .product__container {
    @include flexCenter(column);
    .product.lying {
      width: 550px;
      height: 413px;
      a {
        width: 550px;
        height: 413px;
      }
    }
    .product {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px black solid;
      border-radius: 5px;
      a {
        cursor: pointer;
        color: white;
        @include flexCenter(row);
        flex-wrap: wrap;
        background-color: rgba($color: #000000, $alpha: 0.5);
        opacity: 0;
        transition: all 0.5s ease;
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: amatic, cursive;
        &:hover {
          opacity: 1;
          transition: all 0.5s ease;
        }
      }
    }
    a.top {
      display: none;
    }
  }
}

// Products section
#products {
  background-image: linear-gradient(#ffefda 0%, #facdbe 100%);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  .product__container {
    @include flexCenter(column);
  }
  .product.lying {
    width: 450px;
    height: 337px;
    a {
      width: 450px;
      height: 337px;
    }
  }
  .product.standing {
    width: 337px;
    height: 450px;
    a {
      width: 337px;
      height: 450px;
    }
  }
  a.top {
    display: none;
  }
  .product {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px black solid;
    border-radius: 5px;
    a {
      cursor: pointer;
      color: white;
      @include flexCenter(row);
      flex-wrap: wrap;
      background-color: rgba($color: #000000, $alpha: 0.5);
      opacity: 0;
      transition: all 0.5s ease;
      font-size: 44px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: amatic, cursive;
      &:hover {
        opacity: 1;
        transition: all 0.5s ease;
      }
    }
  }
}

// Product Page
.product__page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 1fr;
  padding: 20px 30px;
  font-family: mont-main, sans-serif;
  color: #000000;
  .title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: mont, sans-serif;
    letter-spacing: 1px;
  }

  i.fas.fa-chevron-left {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    cursor: pointer;
    font-size: 1.75rem;
    z-index: 999;
    border: none;
    outline: none;
    background: transparent;
  }

  .image__section {
    @include flexCenter(column);
    h1 {
      display: none;
    }
    .large__image {
      @include flexCenter(row);
      img {
        max-width: 667px;
        max-height: 667px;
      }
      button {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px 0;
        i {
          font-size: 2rem;
          color: wheat;
        }
      }
      button.right {
        transform: translateX(-2rem);
      }
      button.left {
        transform: translateX(2rem);
      }
    }
    .small__images {
      @include flexCenter(row);
      img {
        margin: 10px 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          transition: all 0.3s ease;
          transform: scale(1.075);
        }
      }
    }
  }
  .about__section {
    @include flexBox(space-around, flex-start, column);

    .add_description {
      font-weight: bolder;
    }

    .product-desc,
    .add_description {
      text-align: center;
      width: 80%;
      font-size: 22px;
    }
    .color-sizes {
      width: 80%;
      @include flexBox(space-evenly, center, row);
      .color-section {
        height: 20vh;
        @include flexBox(space-between, center, column);
        h1.secondary {
          font-size: 2rem;
          width: 100%;
          text-align: center;
        }
        .colors {
          @include flexCenter(row);
          width: 100%;
          .color {
            margin: 20px;
            @include flexCenter(column);
            .color-show {
              width: 80px;
              height: 80px;
              border-radius: 10rem;
            }
            p {
              font-size: 20px;
            }
          }
        }
      }
      .size-section {
        @include flexBox(space-between, center, column);
        height: 20vh;
        h1.secondary {
          font-size: 2rem;
          width: 100%;
          text-align: center;
        }
        .sizes {
          height: 100%;
          @include flexBox(space-evenly, baseline, column);
          li {
            list-style: none;
            font-size: 18px;
            strong.primary {
              font-size: 1.75rem;
              text-transform: uppercase;
            }
            strong.secondary {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    .price-sect {
      width: 100%;
      .price {
        font-size: 3rem;
        width: 80%;
        text-align: center;
        margin: 20px 0;
        @include flexCenter(row);
        p {
          font-size: 28px;
          font-weight: lighter;
        }
      }
      .add-price {
        width: 80%;
        @include flexCenter(row);
        font-size: 2.5rem;
        p {
          font-size: 26px;
          font-weight: lighter;
        }
      }
    }
    .checks {
      @include flexBox(center, baseline, column);
      .check {
        @include flexCenter(row);
        img {
          width: 32px;
          margin: 5px;
        }
        p {
          font-size: 22px;
        }
      }
    }
    .shop {
      @include flexBox(center, baseline, row);
      strong {
        font-size: 24px;
        margin-right: 5px;
      }
      .links {
        @include flexBox(flex-start, baseline, column);
        div {
          @include flexCenter(row);
          margin: 10px 0;
          i {
            margin: 0 5px;
          }
          i,
          a {
            font-size: 20px;
          }
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Responsive design
@media screen and (max-width: 1825px) {
  #products {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1440px) {
  #home {
    grid-template-rows: 75% 25%;
  }

  #products {
    .product.lying {
      width: 500px;
      height: 375px;
      a {
        width: 500px;
        height: 375px;
      }
    }
    .product.standing {
      width: 375px;
      height: 500px;
      a {
        width: 375px;
        height: 500px;
      }
    }
  }

  .product__page {
    .image__section {
      .large__image {
        img {
          max-height: 600px;
        }
      }
    }
    .about__section {
      h1.primary {
        font-size: 2.25rem;
        text-align: center;
        width: 80%;
      }
      .product-desc,
      .add_description {
        font-size: 20px;
      }
      .color-sizes {
        .color-section,
        .size-section {
          h1.secondary {
            font-size: 1.75rem;
          }
          .sizes {
            li {
              strong.primary {
                font-size: 1.5rem;
              }
              strong.secondary {
                font-size: 1.25rem;
              }
            }
          }
        }
      }
      .checks {
        padding-left: 20px;
      }
      .shop {
        padding-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 1360px) {
  .product__page {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    section {
      padding: 20px 50px;
    }

    .image__section {
      h1 {
        display: block;
        margin: 10px 0 20px;
        font-size: 3rem;
        text-align: center;
      }
      .large__image {
        img {
          max-width: 800px;
          max-height: 800px;
        }
        button {
          i {
            font-size: 3rem;
          }
        }
        button.right {
          transform: translateX(-3rem);
        }
        button.left {
          transform: translateX(3rem);
        }
      }
      .small__images {
        flex-wrap: wrap;
      }
    }
    .about__section {
      .title {
        display: none;
      }
      .product-desc,
      .add_description {
        width: 100%;
        font-size: 28px;
      }

      .color-sizes {
        margin: 20px 0;
        width: 100%;
        .color-section {
          h1.secondary {
            font-size: 3rem;
          }
          .colors {
            .color {
              .color-show {
                width: 100px;
                height: 100px;
              }
              p {
                font-size: 26px;
              }
            }
          }
        }
        .size-section {
          h1.secondary {
            font-size: 3rem;
          }
          .sizes {
            li {
              font-size: 24px;
              strong.primary {
                font-size: 2.25rem;
              }
              strong.secondary {
                font-size: 2rem;
              }
            }
          }
        }
      }

      .price-sect {
        width: 100%;
        margin: 30px 0;
        .price {
          width: 100%;
          font-size: 4rem;
        }
        .add-price {
          width: 100%;
          font-size: 3rem;
        }
      }
      .checks {
        width: 100%;
        align-items: center;
        margin: 20px 0;
        .check {
          p {
            font-size: 28px;
          }
        }
      }
      .shop {
        margin: 20px 0;
        width: 100%;
        strong {
          font-size: 2.25rem;
        }
        .links {
          div {
            i,
            a {
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1068px) {
  #products {
    .product__container {
      .product.lying {
        width: 400px;
        height: 300px;
        a {
          width: 400px;
          height: 300px;
        }
      }
      .product.standing {
        width: 300px;
        height: 400px;
        a {
          width: 300px;
          height: 400px;
        }
      }
      a {
        font-size: 44px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #home {
    grid-template-rows: 70% 30%;
    .box-2 {
      img {
        width: 700px;
      }
      h1 {
        font-size: 6rem;
      }
    }
    .box-4 {
      h3 {
        font-size: 3rem;
      }
      .btn {
        margin-top: 30px;
        font-size: 28px;
      }
    }
  }

  // Remove hover effect & Add link at top
  #products {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  #products,
  #discount {
    .product__container {
      .product.lying {
        width: 600px;
        height: 450px;
        a {
          width: 600px;
          height: 450px;
        }
      }
      .product.standing {
        width: 450px;
        height: 600px;
        a {
          width: 450px;
          height: 600px;
        }
      }
      a.top {
        display: block;
        font-family: amatic, cursive;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        font-size: 44px;
      }
      .product {
        a:hover {
          opacity: 0;
        }
      }
    }
  }

  .product__page {
    .image__section {
      .large__image {
        img {
          max-width: 800px;
          max-height: 700px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  #home {
    .box-2 {
      img {
        width: 500px;
      }
      h1 {
        font-size: 4rem;
      }
    }
    .box-4 {
      h3 {
        font-size: 2rem;
      }
      .btn {
        font-size: 22px;
      }
    }
  }

  #products {
    .product__container {
      a {
        font-size: 50px;
      }
    }
  }

  .product__page {
    .image__section {
      padding: 10px 0 20px;
      .title {
        font-size: 2.75rem;
      }
      .large__image {
        img {
          max-width: 600px;
          max-height: 600px;
        }
      }
    }
    .about__section {
      .shop {
        strong {
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  #home {
    .box-2 {
      img {
        width: 550px;
      }
      h1 {
        font-size: 4.5rem;
      }
    }
    .box-4 {
      .btn {
        margin-top: 20px;
      }
    }
  }
  #products,
  #discount {
    .product__container {
      .product.lying {
        width: 500px;
        height: 375px;
        a {
          width: 500px;
          height: 375px;
        }
      }
      .product.standing {
        width: 400px;
        height: 533px;
        a {
          width: 400px;
          height: 533px;
        }
      }
    }
  }

  .product__page {
    .about__section {
      .color-sizes {
        flex-direction: column;
        .size-section,
        .color-section {
          margin: 20px 0;
        }
      }

      .shop {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .product__page {
    .image__section {
      .title {
        font-size: 2.5rem;
      }
      .large__image {
        img {
          max-width: 500px;
        }
      }
      .small__images {
        img {
          max-width: 100px;
          max-height: 100px;
        }
      }
    }
    .about__section {
      padding: 0;
      .price-sect {
        .price {
          font-size: 3.5rem;
        }
        .add-price {
          font-size: 2.75rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #home {
    .box-2 {
      img {
        width: 500px;
      }
    }
  }

  #products,
  #discount {
    .product__container {
      .product.lying {
        width: 450px;
        height: 338px;
        a {
          width: 450px;
          height: 338px;
        }
      }
      .product.standing {
        width: 400px;
        height: 533px;
        a {
          width: 400px;
          height: 533px;
        }
      }
    }
  }
  .product__page {
    .image__section {
      .title {
        font-size: 2.25rem;
      }
      .large__image {
        img {
          max-width: 450px;
          max-height: 500px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  #home {
    .box-2 {
      img {
        width: 400px;
      }
      h1 {
        font-size: 4rem;
      }
    }
    .box-4 {
      margin: 0;
      .btn {
        margin-top: 10px;
        font-size: 20px;
      }
    }
  }

  #products {
    grid-gap: 3rem;
  }

  #products,
  #discount {
    .product__container {
      .product.lying {
        width: 400px;
        height: 300px;
        a {
          width: 400px;
          height: 300px;
        }
      }
      .product.standing {
        width: 350px;
        height: 466px;
        a {
          width: 350px;
          height: 466px;
        }
      }
    }
  }

  .product__page {
    padding: 10px 5px;
    .image__section {
      .large__image {
        img {
          max-width: 450px;
          max-height: 475px;
        }
        button {
          i {
            font-size: 2.5rem;
          }
        }
        button.right {
          transform: translateX(-2.5rem);
        }
        button.left {
          transform: translateX(2.5rem);
        }
      }
    }

    .about__section {
      .color-sizes {
        .color-section,
        .size-section {
          height: auto;
          margin: 10px 0;
          h1.secondary {
            font-size: 2.75rem;
          }
        }

        .color-section {
          .colors {
            .color {
              .color-show {
                width: 85px;
                height: 85px;
              }
              p {
                font-size: 20px;
              }
            }
          }
        }
      }
      .checks {
        padding: 0;
        .check {
          p {
            font-size: 26px;
            text-align: center;
          }
        }
      }
      .shop {
        padding-left: 0;
        .links {
          div {
            i,
            a {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #home {
    .box-2 {
      img {
        width: 400px;
      }
      h1 {
        font-size: 3.5rem;
      }
    }
  }

  .product__page {
    .image__section {
      .title {
        font-size: 2rem;
      }
      .large__image {
        img {
          max-width: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 455px) {
  #home {
    grid-template-rows: 70% 30%;
  }

  #products {
    grid-gap: 2rem;
  }

  #products,
  #discount {
    .product__container {
      .product.lying {
        width: 350px;
        height: 263px;
        a {
          width: 350px;
          height: 263px;
        }
      }
      .product.standing {
        width: 300px;
        height: 400px;
        a {
          width: 300px;
          height: 400px;
        }
      }
      a.top {
        font-size: 2.75rem;
      }
    }
  }

  .product__page {
    .image__section {
      .large__image {
        img {
          max-width: 375px;
          max-height: 450px;
        }
      }
    }
    .about__section {
      .product-desc,
      .add_description {
        padding: 5px;
        font-size: 24px;
      }

      .price-sect {
        .price {
          font-size: 3rem;
          p {
            font-size: 26px;
          }
        }
        .add-price {
          font-size: 2.25rem;
          p {
            font: 24px;
          }
        }
      }

      .checks {
        .check {
          img {
            width: 26px;
            height: 26px;
          }
          p {
            font-size: 22px;
          }
        }
      }
      .shop {
        .links {
          div {
            i,
            a {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  body section#home {
    padding: 10px;
  }

  #home {
    grid-template-rows: 65% 35%;
    .box-2 {
      img {
        width: 350px;
      }
    }
  }

  .product__page {
    .image__section {
      .large__image {
        img {
          max-height: 400px;
          max-width: 350px;
        }
      }
      .small__images {
        img {
          max-width: 80px;
          max-height: 80px;
        }
      }
    }
    .about__section {
      .product-desc,
      .add_description {
        padding: 15px 10px;
      }

      .color-sizes {
        .size-section {
          .sizes {
            li {
              font-size: 20px;
              strong.primary {
                font-size: 1.75rem;
              }
              strong.secondary {
                font-size: 1.5rem;
              }
            }
          }
        }

        .color-section {
          .colors {
            .color {
              margin: 10px 8px;
              .color-show {
                width: 75px;
                height: 75px;
              }
              p {
                font-size: 18;
              }
            }
          }
        }
      }

      .price-sect {
        .price {
          font-size: 2.75rem;
        }
        .add-price {
          font-size: 2rem;
          p {
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  body {
    section {
      padding: 20px 10px;
    }
  }

  #home {
    .box-2 {
      img {
        width: 350px;
      }
      h1 {
        font-size: 3.25rem;
      }
    }
    .box-4 {
      h3 {
        font-size: 1.5rem;
      }
    }
  }

  #products {
    grid-gap: 1rem;
  }

  #products,
  #discount {
    .product__container {
      .product.lying {
        width: 325px;
        height: 244px;
        a {
          width: 325px;
          height: 244px;
        }
      }
      .product.standing {
        width: 275px;
        height: 366px;
        a {
          width: 275px;
          height: 366px;
        }
      }
      a.top {
        font-size: 2.25rem;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  body {
    section#products.products,
    section#home {
      padding: 10px;
    }
  }

  #home {
    .box-4 {
      .btn {
        padding: 8px 15px;
      }
    }
  }

  #products {
    padding: 0;
  }

  #products,
  #discount {
    .product__container {
      .product.lying {
        width: 300px;
        height: 225px;
        a {
          width: 300px;
          height: 225px;
        }
      }
    }
  }

  .product__page {
    .image__section {
      .large__image {
        img {
          max-width: 300px;
          max-height: 400px;
        }
        button {
          i {
            font-size: 1.75rem;
          }
        }
        button.right {
          transform: translateX(-1.75rem);
        }
        button.left {
          transform: translateX(1.75rem);
        }
      }
    }
    .about__section {
      .color-sizes .color-section .colors .color {
        .color-show {
          width: 65px;
          height: 65px;
        }
        p {
          font-size: 16px;
        }
      }

      .checks {
        .check {
          p {
            font-size: 20px;
          }
        }
      }
      .shop {
        strong {
          font-size: 1.75rem;
        }
        .links {
          div {
            i,
            a {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 361px) {
  .product__page {
    .image__section {
      .title {
        font-size: 1.75rem;
      }
      .large__image {
        img {
          max-height: 350px;
        }
      }
    }
    .about__section {
      .product-desc,
      .add_description {
        font-size: 20px;
      }

      .color-sizes {
        .size-section,
        .color-section {
          h1.secondary {
            font-size: 2.5rem;
          }
        }

        .size-section {
          .sizes {
            li {
              font-size: 18px;
              strong.primary {
                font-size: 1.5rem;
              }
              strong.secondary {
                font-size: 1.25rem;
              }
            }
          }
        }
      }

      .price-sect {
        .price {
          font-size: 2.5rem;
          p {
            font-size: 20px;
          }
        }
        .add-price {
          font-size: 2rem;
          p {
            font-size: 18px;
          }
        }
      }
      .checks {
        .check {
          img {
            width: 18px;
            height: 18px;
          }
          p {
            font-size: 16px;
          }
        }
      }
      .shop {
        strong {
          font-size: 1.5rem;
        }
        .links {
          div {
            i,
            a {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  #home {
    .box-2 {
      img {
        width: 325px;
      }
    }
  }

  #products,
  #discount {
    .product__container {
      .product.lying {
        width: 300px;
        height: 225px;
        a {
          width: 300px;
          height: 225px;
        }
      }
      .product.standing {
        width: 250px;
        height: 333px;
        a {
          width: 250px;
          height: 333px;
        }
      }
      a.top {
        font-size: 2.25rem;
      }
    }
  }
}

@media screen and (max-width: 325px) {
  #home {
    .box-2 {
      img {
        width: 290px;
      }
      h1 {
        font-size: 2.75rem;
      }
    }
    .box-4 {
      .btns {
        .btn {
          font-size: 16px;
          padding: 5px 10px;
        }
      }
    }
  }

  #products {
    grid-gap: 2rem;
  }

  #products,
  #discount {
    .product__container {
      .product.lying {
        width: 275px;
        height: 207px;
        a {
          width: 275px;
          height: 207px;
        }
      }
      .product.standing {
        width: 200px;
        height: 266px;
        a {
          width: 200px;
          height: 266px;
        }
      }
      a.top {
        font-size: 2rem;
        letter-spacing: 1px;
      }
    }
  }

  .product__page {
    .image__section {
      .title {
        font-size: 1.5rem;
      }
      .large__image {
        img {
          max-width: 260px;
          max-height: 300px;
        }
      }
      .small__images {
        img {
          max-width: 60px;
          max-height: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 310px) {
  .product__page {
    .image__section {
      .large__image {
        img {
          max-width: 240px;
          max-height: 280px;
        }
      }
    }
    .about__section {
      .color-sizes .color-section .colors .color {
        .color-show {
          width: 55px;
          height: 55px;
        }
        p {
          font-size: 16px;
        }
      }

      .product-desc,
      .add_description {
        font-size: 18px;
      }
      .price-sect {
        .price {
          font-size: 2.25rem;
        }
        .add-price {
          font-size: 1.75rem;
          p {
            font-size: 16px;
          }
        }
      }

      .checks {
        .check {
          p {
            font-size: 14px;
          }
        }
      }

      .shop {
        .links {
          div {
            i,
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 290px) {
  #home {
    .box-2 {
      img {
        width: 270px;
      }
      h1 {
        font-size: 2.5rem;
      }
    }
  }

  #products,
  #discount {
    .product__container {
      a.top {
        font-size: 1.75rem;
      }
      .product.lying {
        width: 250px;
        height: 188px;
        a {
          width: 250px;
          height: 188px;
        }
      }
    }
  }

  .product__page {
    .image__section {
      .title {
        font-size: 1.35rem;
      }
      .large__image {
        img {
          max-width: 220px;
        }
      }
    }
    .about__section {
      .color-sizes {
        .size-section,
        .color-section {
          h1.secondary {
            font-size: 2.25rem;
          }
        }

        .size-section {
          .sizes {
            li {
              font-size: 16px;
              strong.primary {
                font-size: 1.25rem;
              }
              strong.secondary {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
