/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
.container.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

a.top {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.btn {
  font-size: 18px;
  border: 1px white solid;
  border-radius: 5px;
  padding: 6px 15px;
  margin: 20px 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
  z-index: 1;
}

.btn:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: black;
  color: white;
}

.btn a {
  z-index: 2;
}

body section#home,
body section#products {
  min-height: 100vh;
  padding: 20px 30px;
}

#home {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  -ms-grid-rows: 80% 20%;
      grid-template-rows: 80% 20%;
  color: white;
}

#home .box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home .box-2 img {
  width: 550px;
  pointer-events: none;
}

#home .box-2 h1 {
  font-size: 4rem;
  letter-spacing: 5px;
}

#home .box-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column-end: 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

#home .box-4 h3 {
  font-size: 30px;
  color: #a09d9d;
  text-align: center;
}

#home .box-4 .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#products {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

#products .product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#products .product.lying {
  width: 533px;
  height: 400px;
}

#products .product.lying a {
  width: 533px;
  height: 400px;
}

#products .product.standing {
  width: 400px;
  height: 533px;
}

#products .product.standing a {
  width: 400px;
  height: 533px;
}

#products a.top {
  display: none;
}

#products .product {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#products .product a {
  cursor: pointer;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Amatic SC", cursive;
}

#products .product a:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product__page {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 20px 30px;
}

.product__page .title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.product__page .image__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__page .image__section h1 {
  display: none;
}

.product__page .image__section .large__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product__page .image__section .large__image img {
  max-width: 667px;
  max-height: 667px;
}

.product__page .image__section .large__image button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 0;
}

.product__page .image__section .large__image button i {
  font-size: 2rem;
  color: wheat;
}

.product__page .image__section .large__image button.right {
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
}

.product__page .image__section .large__image button.left {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

.product__page .image__section .small__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product__page .image__section .small__images img {
  margin: 10px 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product__page .image__section .small__images img:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}

.product__page .about__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__page .about__section .product-desc {
  text-align: center;
  width: 80%;
  font-size: 22px;
}

.product__page .about__section .color-sizes {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product__page .about__section .color-sizes .color-section {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__page .about__section .color-sizes .color-section h1.secondary {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.product__page .about__section .color-sizes .color-section .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.product__page .about__section .color-sizes .color-section .colors .color {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__page .about__section .color-sizes .color-section .colors .color .color-show {
  width: 80px;
  height: 80px;
  border-radius: 10rem;
}

.product__page .about__section .color-sizes .color-section .colors .color p {
  font-size: 20px;
}

.product__page .about__section .color-sizes .size-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
}

.product__page .about__section .color-sizes .size-section h1.secondary {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.product__page .about__section .color-sizes .size-section .sizes {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__page .about__section .color-sizes .size-section .sizes li {
  list-style: none;
  font-size: 18px;
}

.product__page .about__section .color-sizes .size-section .sizes li strong.primary {
  font-size: 1.75rem;
  text-transform: uppercase;
}

.product__page .about__section .color-sizes .size-section .sizes li strong.secondary {
  font-size: 1.5rem;
}

.product__page .about__section .price-sect {
  width: 100%;
}

.product__page .about__section .price-sect .price {
  font-size: 3rem;
  width: 80%;
  text-align: center;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product__page .about__section .price-sect .price p {
  font-size: 28px;
  font-weight: lighter;
}

.product__page .about__section .price-sect .add-price {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2.5rem;
}

.product__page .about__section .price-sect .add-price p {
  font-size: 26px;
  font-weight: lighter;
}

.product__page .about__section .checks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__page .about__section .checks .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product__page .about__section .checks .check img {
  width: 32px;
  margin: 5px;
}

.product__page .about__section .checks .check p {
  font-size: 22px;
}

.product__page .about__section .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product__page .about__section .shop strong {
  font-size: 24px;
  margin-right: 5px;
}

.product__page .about__section .shop .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__page .about__section .shop .links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0;
}

.product__page .about__section .shop .links div i {
  margin: 0 5px;
}

.product__page .about__section .shop .links div i,
.product__page .about__section .shop .links div a {
  font-size: 20px;
}

.product__page .about__section .shop .links div a {
  text-decoration: underline;
}

@media screen and (max-width: 1825px) {
  #products {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1440px) {
  .product__page .image__section .large__image img {
    max-height: 600px;
  }
  .product__page .about__section h1.primary {
    font-size: 2.25rem;
    text-align: center;
    width: 80%;
  }
  .product__page .about__section .product-desc {
    font-size: 20px;
  }
  .product__page .about__section .color-sizes .color-section h1.secondary,
  .product__page .about__section .color-sizes .size-section h1.secondary {
    font-size: 1.75rem;
  }
  .product__page .about__section .color-sizes .color-section .sizes li strong.primary,
  .product__page .about__section .color-sizes .size-section .sizes li strong.primary {
    font-size: 1.5rem;
  }
  .product__page .about__section .color-sizes .color-section .sizes li strong.secondary,
  .product__page .about__section .color-sizes .size-section .sizes li strong.secondary {
    font-size: 1.25rem;
  }
  .product__page .about__section .checks {
    padding-left: 20px;
  }
  .product__page .about__section .shop {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1360px) {
  .product__page {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .product__page section {
    padding: 20px 50px;
  }
  .product__page .image__section h1 {
    display: block;
    margin: 10px 0 20px;
    font-size: 3rem;
    text-align: center;
  }
  .product__page .image__section .large__image img {
    max-width: 800px;
    max-height: 800px;
  }
  .product__page .image__section .large__image button i {
    font-size: 3rem;
  }
  .product__page .image__section .large__image button.right {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  .product__page .image__section .large__image button.left {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  .product__page .image__section .small__images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__page .about__section .title {
    display: none;
  }
  .product__page .about__section .product-desc {
    width: 100%;
    font-size: 28px;
  }
  .product__page .about__section .color-sizes {
    margin: 20px 0;
    width: 100%;
  }
  .product__page .about__section .color-sizes .color-section h1.secondary {
    font-size: 3rem;
  }
  .product__page .about__section .color-sizes .color-section .colors .color .color-show {
    width: 100px;
    height: 100px;
  }
  .product__page .about__section .color-sizes .color-section .colors .color p {
    font-size: 26px;
  }
  .product__page .about__section .color-sizes .size-section h1.secondary {
    font-size: 3rem;
  }
  .product__page .about__section .color-sizes .size-section .sizes li {
    font-size: 24px;
  }
  .product__page .about__section .color-sizes .size-section .sizes li strong.primary {
    font-size: 2.25rem;
  }
  .product__page .about__section .color-sizes .size-section .sizes li strong.secondary {
    font-size: 2rem;
  }
  .product__page .about__section .price-sect {
    width: 100%;
    margin: 30px 0;
  }
  .product__page .about__section .price-sect .price {
    width: 100%;
    font-size: 4rem;
  }
  .product__page .about__section .price-sect .add-price {
    width: 100%;
    font-size: 3rem;
  }
  .product__page .about__section .checks {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  .product__page .about__section .checks .check p {
    font-size: 28px;
  }
  .product__page .about__section .shop {
    margin: 20px 0;
    width: 100%;
  }
  .product__page .about__section .shop strong {
    font-size: 2.25rem;
  }
  .product__page .about__section .shop .links div i,
  .product__page .about__section .shop .links div a {
    font-size: 28px;
  }
}

@media screen and (max-width: 1068px) {
  #products .product__container .product.lying {
    width: 400px;
    height: 300px;
  }
  #products .product__container .product.lying a {
    width: 400px;
    height: 300px;
  }
  #products .product__container .product.standing {
    width: 300px;
    height: 400px;
  }
  #products .product__container .product.standing a {
    width: 300px;
    height: 400px;
  }
  #products .product__container a {
    font-size: 44px;
  }
}

@media screen and (max-width: 1024px) {
  #home {
    min-height: 90vh;
  }
  #home .box-2 img {
    width: 700px;
  }
  #home .box-2 h1 {
    font-size: 6rem;
  }
  #home .box-4 h3 {
    font-size: 3rem;
  }
  #home .box-4 .btn {
    font-size: 28px;
  }
  #products {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
  #products .product__container .product.lying {
    width: 600px;
    height: 450px;
  }
  #products .product__container .product.lying a {
    width: 600px;
    height: 450px;
  }
  #products .product__container .product.standing {
    width: 450px;
    height: 600px;
  }
  #products .product__container .product.standing a {
    width: 450px;
    height: 600px;
  }
  #products .product__container a.top {
    display: block;
    font-family: "Amatic SC", cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
  #products .product__container .product a:hover {
    opacity: 0;
  }
  .product__page .image__section .large__image img {
    max-width: 800px;
    max-height: 700px;
  }
}

@media screen and (max-width: 850px) {
  #home .box-2 img {
    width: 500px;
  }
  #home .box-2 h1 {
    font-size: 4rem;
  }
  #home .box-4 h3 {
    font-size: 2rem;
  }
  #home .box-4 .btn {
    font-size: 22px;
  }
  #products .product__container a {
    font-size: 50px;
  }
  .product__page .image__section {
    padding: 10px 0 20px;
  }
  .product__page .image__section .title {
    font-size: 2.75rem;
  }
  .product__page .image__section .large__image img {
    max-width: 600px;
    max-height: 600px;
  }
  .product__page .about__section .shop strong {
    font-size: 2rem;
  }
}

@media screen and (max-width: 786px) {
  #home .box-2 img {
    width: 550px;
  }
  #home .box-2 h1 {
    font-size: 4.5rem;
  }
  #products .product__container .product.lying {
    width: 500px;
    height: 375px;
  }
  #products .product__container .product.lying a {
    width: 500px;
    height: 375px;
  }
  #products .product__container .product.standing {
    width: 400px;
    height: 533px;
  }
  #products .product__container .product.standing a {
    width: 400px;
    height: 533px;
  }
  .product__page .about__section .color-sizes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__page .about__section .color-sizes .size-section,
  .product__page .about__section .color-sizes .color-section {
    margin: 20px 0;
  }
  .product__page .about__section .shop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 680px) {
  .product__page .image__section .title {
    font-size: 2.5rem;
  }
  .product__page .image__section .large__image img {
    max-width: 500px;
  }
  .product__page .image__section .small__images img {
    max-width: 100px;
    max-height: 100px;
  }
  .product__page .about__section {
    padding: 0;
  }
  .product__page .about__section .price-sect .price {
    font-size: 3.5rem;
  }
  .product__page .about__section .price-sect .add-price {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 600px) {
  #home .box-2 img {
    width: 500px;
  }
  #products .product__container .product.lying {
    width: 450px;
    height: 338px;
  }
  #products .product__container .product.lying a {
    width: 450px;
    height: 338px;
  }
  #products .product__container .product.standing {
    width: 400px;
    height: 533px;
  }
  #products .product__container .product.standing a {
    width: 400px;
    height: 533px;
  }
  .product__page .image__section .title {
    font-size: 2.25rem;
  }
  .product__page .image__section .large__image img {
    max-width: 450px;
    max-height: 500px;
  }
}

@media screen and (max-width: 540px) {
  #home .box-2 img {
    width: 450px;
  }
  #home .box-2 h1 {
    font-size: 4rem;
  }
  #products {
    grid-gap: 3rem;
  }
  #products .product__container .product.lying {
    width: 400px;
    height: 300px;
  }
  #products .product__container .product.lying a {
    width: 400px;
    height: 300px;
  }
  #products .product__container .product.standing {
    width: 350px;
    height: 466px;
  }
  #products .product__container .product.standing a {
    width: 350px;
    height: 466px;
  }
  .product__page {
    padding: 10px 5px;
  }
  .product__page .image__section .large__image img {
    max-width: 450px;
    max-height: 475px;
  }
  .product__page .image__section .large__image button i {
    font-size: 2.5rem;
  }
  .product__page .image__section .large__image button.right {
    -webkit-transform: translateX(-2.5rem);
            transform: translateX(-2.5rem);
  }
  .product__page .image__section .large__image button.left {
    -webkit-transform: translateX(2.5rem);
            transform: translateX(2.5rem);
  }
  .product__page .about__section .color-sizes .color-section,
  .product__page .about__section .color-sizes .size-section {
    height: auto;
    margin: 10px 0;
  }
  .product__page .about__section .color-sizes .color-section h1.secondary,
  .product__page .about__section .color-sizes .size-section h1.secondary {
    font-size: 2.75rem;
  }
  .product__page .about__section .color-sizes .color-section .colors .color .color-show {
    width: 85px;
    height: 85px;
  }
  .product__page .about__section .color-sizes .color-section .colors .color p {
    font-size: 20px;
  }
  .product__page .about__section .checks {
    padding: 0;
  }
  .product__page .about__section .checks .check p {
    font-size: 26px;
    text-align: center;
  }
  .product__page .about__section .shop {
    padding-left: 0;
  }
  .product__page .about__section .shop .links div i,
  .product__page .about__section .shop .links div a {
    font-size: 26px;
  }
}

@media screen and (max-width: 500px) {
  #home .box-2 img {
    width: 400px;
  }
  #home .box-2 h1 {
    font-size: 3.5rem;
  }
  .product__page .image__section .title {
    font-size: 2rem;
  }
  .product__page .image__section .large__image img {
    max-width: 400px;
  }
}

@media screen and (max-width: 455px) {
  #home {
    -ms-grid-rows: 70% 30%;
        grid-template-rows: 70% 30%;
  }
  #home .box-4 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #products {
    grid-gap: 2rem;
  }
  #products .product__container .product.lying {
    width: 350px;
    height: 263px;
  }
  #products .product__container .product.lying a {
    width: 350px;
    height: 263px;
  }
  #products .product__container .product.standing {
    width: 300px;
    height: 400px;
  }
  #products .product__container .product.standing a {
    width: 300px;
    height: 400px;
  }
  #products .product__container a.top {
    font-size: 2.75rem;
  }
  .product__page .image__section .large__image img {
    max-width: 375px;
    max-height: 450px;
  }
  .product__page .about__section .product-desc {
    padding: 5px;
    font-size: 24px;
  }
  .product__page .about__section .price-sect .price {
    font-size: 3.25rem;
  }
  .product__page .about__section .price-sect .price p {
    font-size: 26px;
  }
  .product__page .about__section .price-sect .add-price {
    font-size: 2.5rem;
  }
  .product__page .about__section .price-sect .add-price p {
    font: 24px;
  }
  .product__page .about__section .checks .check img {
    width: 26px;
    height: 26px;
  }
  .product__page .about__section .checks .check p {
    font-size: 22px;
  }
  .product__page .about__section .shop .links div i,
  .product__page .about__section .shop .links div a {
    font-size: 24px;
  }
}

@media screen and (max-width: 414px) {
  .product__page .image__section .large__image img {
    max-height: 400px;
    max-width: 350px;
  }
  .product__page .image__section .small__images img {
    max-width: 80px;
    max-height: 80px;
  }
  .product__page .about__section .product-desc {
    padding: 15px 10px;
  }
  .product__page .about__section .color-sizes .size-section .sizes li {
    font-size: 20px;
  }
  .product__page .about__section .color-sizes .size-section .sizes li strong.primary {
    font-size: 1.75rem;
  }
  .product__page .about__section .color-sizes .size-section .sizes li strong.secondary {
    font-size: 1.5rem;
  }
  .product__page .about__section .color-sizes .color-section .colors .color {
    margin: 10px 8px;
  }
  .product__page .about__section .color-sizes .color-section .colors .color .color-show {
    width: 75px;
    height: 75px;
  }
  .product__page .about__section .color-sizes .color-section .colors .color p {
    font-size: 18;
  }
  .product__page .about__section .price-sect .price {
    font-size: 3rem;
  }
  .product__page .about__section .price-sect .add-price {
    font-size: 2.25rem;
  }
  .product__page .about__section .price-sect .add-price p {
    font-size: 22px;
  }
}

@media screen and (max-width: 400px) {
  body section {
    padding: 20px 10px;
  }
  #home .box-2 img {
    width: 350px;
  }
  #home .box-2 h1 {
    font-size: 3.25rem;
  }
  #home .box-4 h3 {
    font-size: 1.5rem;
  }
  #products {
    grid-gap: 1rem;
  }
  #products .product__container .product.lying {
    width: 325px;
    height: 244px;
  }
  #products .product__container .product.lying a {
    width: 325px;
    height: 244px;
  }
  #products .product__container .product.standing {
    width: 275px;
    height: 366px;
  }
  #products .product__container .product.standing a {
    width: 275px;
    height: 366px;
  }
  #products .product__container a.top {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 376px) {
  body section#products.products,
  body section#home {
    padding: 20px 10px;
  }
  #products {
    padding: 0;
  }
  #products .product__container .product.lying {
    width: 300px;
    height: 225px;
  }
  #products .product__container .product.lying a {
    width: 300px;
    height: 225px;
  }
  .product__page .image__section .large__image img {
    max-width: 300px;
    max-height: 400px;
  }
  .product__page .image__section .large__image button i {
    font-size: 1.75rem;
  }
  .product__page .image__section .large__image button.right {
    -webkit-transform: translateX(-1.75rem);
            transform: translateX(-1.75rem);
  }
  .product__page .image__section .large__image button.left {
    -webkit-transform: translateX(1.75rem);
            transform: translateX(1.75rem);
  }
  .product__page .about__section .color-sizes .color-section .colors .color .color-show {
    width: 65px;
    height: 65px;
  }
  .product__page .about__section .color-sizes .color-section .colors .color p {
    font-size: 16px;
  }
  .product__page .about__section .checks .check p {
    font-size: 20px;
  }
  .product__page .about__section .shop strong {
    font-size: 1.75rem;
  }
  .product__page .about__section .shop .links div i,
  .product__page .about__section .shop .links div a {
    font-size: 20px;
  }
}

@media screen and (max-width: 361px) {
  .product__page .image__section .title {
    font-size: 1.75rem;
  }
  .product__page .image__section .large__image img {
    max-height: 350px;
  }
  .product__page .about__section .product-desc {
    font-size: 20px;
  }
  .product__page .about__section .color-sizes .size-section h1.secondary,
  .product__page .about__section .color-sizes .color-section h1.secondary {
    font-size: 2.5rem;
  }
  .product__page .about__section .color-sizes .size-section .sizes li {
    font-size: 18px;
  }
  .product__page .about__section .color-sizes .size-section .sizes li strong.primary {
    font-size: 1.5rem;
  }
  .product__page .about__section .color-sizes .size-section .sizes li strong.secondary {
    font-size: 1.25rem;
  }
  .product__page .about__section .price-sect .price {
    font-size: 2.5rem;
  }
  .product__page .about__section .price-sect .price p {
    font-size: 20px;
  }
  .product__page .about__section .price-sect .add-price {
    font-size: 2rem;
  }
  .product__page .about__section .price-sect .add-price p {
    font-size: 18px;
  }
  .product__page .about__section .checks .check img {
    width: 18px;
    height: 18px;
  }
  .product__page .about__section .checks .check p {
    font-size: 16px;
  }
  .product__page .about__section .shop strong {
    font-size: 1.5rem;
  }
  .product__page .about__section .shop .links div i,
  .product__page .about__section .shop .links div a {
    font-size: 18px;
  }
}

@media screen and (max-width: 350px) {
  #home .box-2 img {
    width: 325px;
  }
  #products .product__container .product.lying {
    width: 300px;
    height: 225px;
  }
  #products .product__container .product.lying a {
    width: 300px;
    height: 225px;
  }
  #products .product__container .product.standing {
    width: 250px;
    height: 333px;
  }
  #products .product__container .product.standing a {
    width: 250px;
    height: 333px;
  }
  #products .product__container a.top {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 325px) {
  #home .box-2 img {
    width: 290px;
  }
  #home .box-2 h1 {
    font-size: 2.75rem;
  }
  #home .box-4 .btns button {
    font-size: 16px;
    padding: 5px 10px;
  }
  #products {
    grid-gap: 2rem;
  }
  #products .product__container .product.lying {
    width: 275px;
    height: 207px;
  }
  #products .product__container .product.lying a {
    width: 275px;
    height: 207px;
  }
  #products .product__container .product.standing {
    width: 200px;
    height: 266px;
  }
  #products .product__container .product.standing a {
    width: 200px;
    height: 266px;
  }
  #products .product__container a.top {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .product__page .image__section .title {
    font-size: 1.5rem;
  }
  .product__page .image__section .large__image img {
    max-width: 260px;
    max-height: 300px;
  }
  .product__page .image__section .small__images img {
    max-width: 60px;
    max-height: 60px;
  }
}

@media screen and (max-width: 310px) {
  .product__page .image__section .large__image img {
    max-width: 240px;
    max-height: 280px;
  }
  .product__page .about__section .color-sizes .color-section .colors .color .color-show {
    width: 55px;
    height: 55px;
  }
  .product__page .about__section .color-sizes .color-section .colors .color p {
    font-size: 16px;
  }
  .product__page .about__section .product-desc {
    font-size: 18px;
  }
  .product__page .about__section .price-sect .price {
    font-size: 2.25rem;
  }
  .product__page .about__section .price-sect .add-price {
    font-size: 1.75rem;
  }
  .product__page .about__section .price-sect .add-price p {
    font-size: 16px;
  }
  .product__page .about__section .checks .check p {
    font-size: 14px;
  }
  .product__page .about__section .shop .links div i,
  .product__page .about__section .shop .links div a {
    font-size: 16px;
  }
}

@media screen and (max-width: 290px) {
  #home .box-2 img {
    width: 270px;
  }
  #home .box-2 h1 {
    font-size: 2.5rem;
  }
  #products .product__container a.top {
    font-size: 1.75rem;
  }
  #products .product__container .product.lying {
    width: 250px;
    height: 188px;
  }
  #products .product__container .product.lying a {
    width: 250px;
    height: 188px;
  }
  .product__page .image__section .title {
    font-size: 1.35rem;
  }
  .product__page .image__section .large__image img {
    max-width: 220px;
  }
  .product__page .about__section .color-sizes .size-section h1.secondary,
  .product__page .about__section .color-sizes .color-section h1.secondary {
    font-size: 2.25rem;
  }
  .product__page .about__section .color-sizes .size-section .sizes li {
    font-size: 16px;
  }
  .product__page .about__section .color-sizes .size-section .sizes li strong.primary {
    font-size: 1.25rem;
  }
  .product__page .about__section .color-sizes .size-section .sizes li strong.secondary {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=index.css.map */